
name: Check

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@stable
      - name: shfmt
        run: |
          curl -LsS -o ~/shfmt https://github.com/mvdan/sh/releases/download/v3.1.2/shfmt_v3.1.2_linux_amd64
          chmod +x ~/shfmt
          ~/shfmt -p -d scripts/ extrakto.tmux
      - name: tests
        run: |
          python3 -m unittest discover -s tests/
